@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-black text-white;
  }
}

@layer components {
  .glitch-text::before,
  .glitch-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .glitch-text::before {
    animation: glitchTop 2s infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  .glitch-text::after {
    animation: glitchBottom 2.5s infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }

  .grid-bg {
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.25) 0.5px, transparent 0.5px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0.5px, transparent 0.5px);
    background-size: 3px 3px;
  }

  .grid-bg-2 {
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.15) 0.5px, transparent 0.5px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0.5px, transparent 0.5px);
    background-size: 6px 6px;
  }
}

